

/*body*/
body {
    font-family: 'Fira Code', sans-serif;
    color: #FFF;
    background-color: #171717;
    font-weight: 100;
    margin: 0;
    text-align:center;
}

.btn {
    font-size:25px;
    font-weight:100;
}
