/*
COLOR PALETTE:
orange: #EB5E28
gray: #141414
black: #0d0d0d
off-white: #fffcf2
*/

body {
    font-family: 'Fira Code', sans-serif;
    color: #FFF;
    background-color: #171717;
    font-weight: 100;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 0;
}

.ml11 {
  font-weight: 300;
  font-size: 2.5em;
  margin-bottom: 0;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

/**BOX**/

/***circles**/

.bar img {
    width: 4rem;
}

#dots {
   width: 4rem;
}

.bar {
     display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    overflow: hidden;
    border-bottom: 8px solid #000;
}


.links {
    float: right;
}


.bar a {
  color: #16BC13;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    }

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    float: right;
    display: none;
    width: 45px;
    }

#intro {
    margin: 1.5rem;
}

#container-top {
    border: 8px solid #000;
    margin: 20px 50px 20px 20px;
    box-shadow: 18px 15px #000;
    background-color: #0F0F0F;
}

p {
    color: #878787;
    margin-top: 2px;
    text-align: justify;
}

.title {
    /*color: #FFD11A;*/
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: underline;
    margin-left: 10px;
}

#projects{
    margin: 4rem 50px 0px 10px;
    list-style-image: url("../images/list.png");
}

#experience{
    margin: 2rem 50px 0px 10px;
    list-style-image: url("../images/list.png");
}

.techstack {
    font-size: 0.85rem;
    color: #DB3D3D;
    }
a{
    color: #16BC13;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    color: #FFD11A;
}

h3{
    color: #16BC13;
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2px;
}

#contact {
    margin: 2rem 50px 0px 10px;
}


#cl img {
    padding: 0px 20px 5px 20px;
}

#cl {
    margin: 20px 40px; 
}



/******MEDIA QUERIES ************/
@media screen and (max-width: 768px) {
    .links {
        display: none;
    }
    .ml11 {
        font-size: 1.5rem;
    }

    #cl img {
        width: 20px;
        padding: 0px 10px 5px 10px;
    }

    p {
        font-size: 0.75rem;
    }

    button {
        display:flex;
    }

    .links.show {
    display: flex;
    width: 100%;
    flex-direction: column;
    float: right;
    background-color: #000;
}
    #hamburger.spin{
        transform: rotate(45deg);
         transition: 0.3s ease all;
    }
}



.container {
margin-top: 50px;
margin-bottom: 30px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex; }
.text{
  font-weight:100;
  font-size: 15px;
  color: #FAFAFA;}
.dud{
  color: #757575;}
